@charset "utf-8";
*{
  margin: 0px; padding: 0px;
}
ul,ol,li{list-style: none;}
a{text-decoration: none; color: #000;}
.hidden{
  display: none;
}
main{
  position: relative;
}
main section:not(:first-child){
  position: absolute;
  display: none;
  width: 100%;
  left: 0px;
  top: 0px;
}
.act01{
  text-decoration-line: underline;
    text-decoration-color: #e5a22f;
    text-decoration-thickness: 4px;
}
@media screen and (min-width:1025px){
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #000;
    z-index: 5;
    /* position: relative; */
  }
  header h1{
    display: inline-block;
    line-height: 100px;
    margin-left: 5%;
  }
  header img{
    width: 100px;
    vertical-align: middle;
  }
  nav ul{
    position: absolute;
    display: flex;
    right: 5%;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
  }
  nav ul li{
    /* transition: 0.3s; */
  }
  nav ul li:not(:last-child){
    margin-right: 24px;
  }
  nav ul li:hover{
    text-decoration-line: underline;
    text-decoration-color: #e5a22f;
    text-decoration-thickness: 4px;
  }
  #home{
    position: relative;
    background-image: url('../images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  #home h2{
    position: absolute ;
    text-align: center;
    left: 5%;
    top: 150px;
    /* mix-blend-mode: darken; */
  }
  section h2{
    padding-bottom: 40px;
  }
  #about{
    margin-top: 150px;
  }
  #about article{
    width: 100%;
    padding: 0% 5%;
    box-sizing: border-box;
    /* margin: 0px auto; */
    display: flex;
  }
  #about article div{
    width: 20%;
    margin-top: 24px;
  }
  #about article img{
    width: 100%;
    height: auto;
    padding: 2%;
    /* line-height: 4rem; */
  }
  #about article p{
    display: inline-block;
    width: 80%;
    padding: 2%;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  #about article p a{
    text-decoration: underline;
    text-underline-offset : 5px;
    color: #2f2f2f;
  }
  #profile{
    margin-top: 150px;
  }
  #profile ul{
    display: flex;
    width: 100%;
  }
  #profile ul li{
    width: 33.3%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  #profile ul li:not(:last-child){
    border-right: none;
  }
  #profile ul li div{
    width: 100%;
  }
  #profile ul li img{
    width: 100%;
  }
  #profile ul li span:first-of-type{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 24px;
  }
  #profile ul li span:last-of-type{
    font-size: 1.25rem;
    display: block;
    padding: 16px;
    line-height: 36px;
  }
  #contact{
    margin-top: 150px;
    font-size: 1.25rem;
  }
  #contact dl dt{
    display: inline-block;
  }
  #contact dl dd{
    display: inline-block;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #000;
    z-index: 5;
    /* position: relative; */
  }
  header h1{
    display: inline-block;
    line-height: 100px;
    margin-left: 5%;
  }
  header img{
    width: 100px;
    vertical-align: middle;
  }
  nav ul{
    position: absolute;
    display: flex;
    right: 5%;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
  }
  nav ul li{
    /* transition: 0.3s; */
  }
  nav ul li:not(:last-child){
    margin-right: 24px;
  }
  nav ul li:hover{
    text-decoration-line: underline;
    text-decoration-color: #e5a22f;
    text-decoration-thickness: 4px;
  }
  #home{
    position: relative;
    background-image: url('../images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  #home h2{
    position: absolute ;
    text-align: center;
    left: 5%;
    top: 150px;
    /* mix-blend-mode: darken; */
  }
  section h2{
    padding-bottom: 40px;
  }
  #about{
    margin-top: 150px;
  }
  #about article{
    width: 100%;
    padding: 0% 5%;
    box-sizing: border-box;
    /* margin: 0px auto; */
    display: flex;
  }
  #about article div{
    width: 20%;
    margin-top: 24px;
  }
  #about article img{
    width: 100%;
    height: auto;
    padding: 2%;
    /* line-height: 4rem; */
  }
  #about article p{
    display: inline-block;
    width: 80%;
    padding: 2%;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  #about article p a{
    text-decoration: underline;
    text-underline-offset : 5px;
    color: #2f2f2f;
  }
  #profile{
    margin-top: 150px;
  }
  #profile ul{
    display: flex;
    width: 100%;
  }
  #profile ul li{
    width: 33.3%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  #profile ul li:not(:last-child){
    border-right: none;
  }
  #profile ul li div{
    width: 100%;
  }
  #profile ul li img{
    width: 100%;
  }
  #profile ul li span:first-of-type{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 24px;
  }
  #profile ul li span:last-of-type{
    font-size: 1.25rem;
    display: block;
    padding: 16px;
    line-height: 36px;
  }
  #contact{
    margin-top: 150px;
    font-size: 1.25rem;
  }
  #contact dl dt{
    display: inline-block;
  }
  #contact dl dd{
    display: inline-block;
  }
}
@media screen and (max-width:767px){
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #000;
    z-index: 5;
    /* position: relative; */
  }
  header h1{
    display: inline-block;
    line-height: 100px;
    margin-left: 5%;
  }
  header img{
    width: 100px;
    vertical-align: middle;
  }
  nav ul{
    position: absolute;
    display: flex;
    right: 5%;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
  }
  nav ul li{
    /* transition: 0.3s; */
  }
  nav ul li:not(:last-child){
    margin-right: 24px;
  }
  nav ul li:hover{
    text-decoration-line: underline;
    text-decoration-color: #e5a22f;
    text-decoration-thickness: 4px;
  }
  #home{
    position: relative;
    background-image: url('../images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  #home h2{
    position: absolute ;
    text-align: center;
    left: 5%;
    top: 150px;
    font-size: 1rem;
    /* mix-blend-mode: darken; */
  }
  section h2{
    padding-bottom: 40px;
  }
  #about{
    margin-top: 150px;
  }
  #about article{
    width: 100%;
    padding: 0% 5%;
    box-sizing: border-box;
    /* margin: 0px auto; */
    /* display: flex; */
  }
  #about article div{
    width: 200%;
    margin-top: 24px;
  }
  #about article img{
    width: 50%;
    display: block;
    text-align: center;
    height: auto;
    padding: 2%;
    /* line-height: 4rem; */
  }
  #about article p{
    display: inline-block;
    width: 80%;
    padding: 2%;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  #about article p a{
    text-decoration: underline;
    text-underline-offset : 5px;
    color: #2f2f2f;
    text-align: center;
  }
  #profile{
    margin-top: 150px;
  }
  #profile ul{
    display: flex;
    width: 100%;
  }
  #profile ul li{
    width: 33.3%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  #profile ul li:not(:last-child){
    border-right: none;
  }
  #profile ul li div{
    width: 100%;
  }
  #profile ul li img{
    width: 100%;
  }
  #profile ul li span:first-of-type{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 24px;
  }
  #profile ul li span:last-of-type{
    font-size: 0.75rem;
    display: block;
    padding: 16px;
    line-height: 36px;
  }
  #contact{
    margin-top: 150px;
    font-size: 1.25rem;
  }
  #contact dl dt{
    display: inline-block;
  }
  #contact dl dd{
    display: inline-block;
  }
  
}
footer{
  text-align: center;
  height: 100px;
  background: #333;
  color: #fff;
  line-height: 100px;
}
footer p{
  line-height: 100px;
}
